#menu-standalone {
	max-height:inherit;
}
.list-group>:nth-child(odd),.alternate>:nth-child(odd) { 
	background: #5f6e7d; 
}
.alternate>:nth-child(odd):hover { 
	background: #3d4c5b; 
}
.list-group a {
	color:#fff;
}
ul li.active a {
	color:#000;
}
.list-group .running {
	background: #dff0d8; 
}

.list-group .running div.container-fluid,.list-group .running a {
	color:#000;
}

body {
	padding-top:70px;
}
li span.client {
	background-color: #006600;
}
li span.fournisseur {
	background-color: #006666;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 5px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-test {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.99;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.link_edit {
	position :fixed;
	right : 30px;
	bottom : 30px;
}
.link_create_contact {
	position :fixed;
	right : 30px;
	bottom : 90px;
}
.link_create_proposal{
	position :fixed;
	right : 30px;
	bottom : 150px;
}

.transform {
    -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.link_remove {
	position :absolute;
	right : 100px;
	bottom : 30px;
}


.online {
	font-weight: normal;
	color:white;
}

.offline {
	font-weight: bold;
	color:#cc5555 !important;
}

.dropdown-menu > li > a {
	height:55px !important;
	line-height:48px !important;
}

#tableListeProduits{
    border: solid white 2px;
    width: 100%;
    text-align: center;
}

#tableListeProduits{
    width : 100%;
}

#tableListeProduits > thead > tr,
#tableListeProduits > thead > tr > th,
#tableListeProduits > tbody > tr,
#tableListeProduits > tbody > tr > td,
#tableListeProduits > tfoot > tr,
#tableListeProduits > tfoot > tr > td{
    border: solid white 2px;
    padding: 5px;
}

.glyphicon-remove{
    color: red;
    font-size:18px;
    float:right;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.kbw-signature {
    float: left;
    display: inline-block;
    border: 1px solid #FFFFFF;
}